<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      <img src="../assets/img/logo/aa_logo_new.svg">
    </ion-title>
  </ion-navbar>
  
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segment" (ionChange)="updateFeed(segment)">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
          Favorites
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>    
  </ion-refresher>
  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'all'">
      <ion-item-sliding *ngFor="let post of posts | async">
        <ion-item (click)="showDetail('Detail', post)">
          <ion-thumbnail item-start>
            <img [src]="post.thumbnail">
          </ion-thumbnail>
          <h2>{{post.title}}</h2> 
          <h5>{{post?.description}}</h5>       
        </ion-item>
        
        <ion-item-options side="left"> 
          <!-- <button ion-button color="primary" (click)="readPost(post)">
            <ion-icon name="text"></ion-icon>
            Read
          </button> -->
        </ion-item-options>
        <ion-item-options side="right">
          <button *ngIf="!isFavorite(post); else removeButton" ion-button color="secondary" (click)="addFavorite(post)">
            <ion-icon name="ios-star-outline"></ion-icon>
            Save
          </button>
          <ng-template #removeButton>
            <button ion-button color="danger" (click)="removeFavorite(post)">
              <ion-icon name="ios-trash-outline"></ion-icon>
              Remove
            </button>
          </ng-template>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    
    <ion-list *ngSwitchCase="'favorites'">
        <ion-item-sliding *ngFor="let post of posts | async">
            <ion-item (click)="showDetail('Detail', post)">
              <ion-thumbnail item-start>
                <img [src]="post.thumbnail">
              </ion-thumbnail>
              <h2>{{post.title}}</h2> 
              <h5>{{post?.description}}</h5>       
            </ion-item>
            
            <ion-item-options side="left"> 
              <button ion-button color="primary">
                <ion-icon name="text"></ion-icon>
                Read
              </button>
            </ion-item-options>
            <ion-item-options side="right">
              <button *ngIf="!isFavorite(post); else removeButton" ion-button large color="secondary" (click)="addFavorite(post)">
                <ion-icon name="ios-star-outline"></ion-icon>
              </button>
              <ng-template #removeButton>
                <button ion-button large color="danger" (click)="removeFavorite(post)">
                  <ion-icon name="ios-trash-outline"></ion-icon>
                </button>
              </ng-template>
            </ion-item-options>
          </ion-item-sliding>
    </ion-list>        
  </div>
</ion-content>